version: 2.1

jobs:
  backend-build:
    docker:
      - image: cimg/node:20.0
    steps:
      - checkout
      - run:
          name: Install backend dependencies
          command: |
            cd backend
            npm install
      - run:
          name: Run backend tests
          command: |
            cd backend
            npm test

  frontend-build:
    docker:
      - image: cimg/node:20.0
    steps:
      - checkout
      - run:
          name: Install frontend dependencies
          command: |
            cd frontend
            npm install
      - run:
          name: Build frontend
          command: |
            cd frontend
            npm run build

  docker-build:
    docker:
      - image: docker:24.0
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t my-app:latest .

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - backend-build
      - frontend-build
      - docker-build
