/* src/index.css or Form.css */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; 
}

.full-page {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: calc(100% - 60px);
}
