/* src/index.css or Form.css */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; /* light background */
}

.full-page {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;     /* vertically center */
  height: calc(100% - 60px); /* subtract navbar height if needed */
}
